[Unit]
Description=MPP 5048 1 COMMAND MQTT Client Service
After=network.target

[Service]
Type=simple
User=azidanit
Group=azidanit
WorkingDirectory=/home/azidanit/MPP-Solar-8048-Automation/5048
ExecStart=/home/azidanit/anaconda3/envs/lmesh_aggrigation_tester/bin/python3 \
/home/azidanit/MPP-Solar-8048-Automation/5048/command_loop.py \
--broker 192.168.1.102 \
--port 1883 \
--user sonoff \
--password sonoff \
--device_addr /dev/hidraw0 \
--topic homeassistant/sensor/inverter_1 
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target