[Unit]
Description=MPP 5048 1 STATUS MQTT Client Service
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/MPP_rev/MPP-Solar-8048-Automation
ExecStart=/bin/bash -c "source /home/ubuntu/miniforge3/bin/activat && conda activate iot_mpp8048 && \
/home/ubuntu/MPP_rev/MPP-Solar-8048-Automation/5048/status_loop.py \
--broker 192.168.1.102 \
--port 1883 \
--user sonoff \
--password sonoff \
--device_addr /dev/hidraw0 \
--tag inver1"
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target