[Unit]
Description=MPP 8048 1 STATUS MQTT Client Service
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/MPP_rev/MPP-Solar-8048-Automation
ExecStart=/home/ubuntu/miniforge3/envs/iot_mpp8048/bin/python \
/home/ubuntu/MPP_rev/MPP-Solar-8048-Automation/8048/status_loop.py\
--broker 192.168.1.102 \
--port 1883 \
--user sonoff \
--password sonoff \
--device_addr /dev/ttyUSB0 \
--tag inver3
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target