[Unit]
Description=MPP 8048 2 COMMAND MQTT Client Service
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/MPP_rev/MPP-Solar-8048-Automation
ExecStart=/bin/bash -c "source /home/ubuntu/miniforge3/bin/activate && conda activate iot_mpp8048 && \
/home/ubuntu/MPP_rev/MPP-Solar-8048-Automation/8048/command_loop.py \
--broker 192.168.1.102 \
--port 1883 \
--user sonoff \
--password sonoff \
--device_addr /dev/ttyUSB1 \
--topic homeassistant/sensor/inverter_4"
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target